.homeMainDiv{
    background-image: url("../Assets/event.jpg");   
     background-repeat:no-repeat;
   left: 0;
   right: 0;
   height: 100%;
     background-size:cover;
     position: fixed;
     background-position:center;
 }
 .assetName{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
.homeNavbar{
    height: 30px;
    position: fixed;
    left: 0;
    right: 0;
}
.homeMainName{
    font-size: 18px;
    font-family: cursive;
}
.homeMyProfile{
    margin-left: 25px;
    font-size: 10px;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
   }
